@model  IEnumerable<CopaFilmes.Domain.Entities.Filme>

@{
    ViewBag.Title = "Resultado";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        @if (Model != null && Model.Count() > 0)
        {
            var contador = 1;
            foreach (var prod in Model)
            {
                <div class="col-md-1">@contador º</div>
                <div class="col-md-11">@Html.Raw(prod.Titulo)</div>
                contador++;
            }
        }
    </div>
</div>